body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "PT Sans", sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #fafafa;
    z-index: 5;
}

.hd-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.hd-list-items > li{
    display: inline-block;
}
.hd-list-items > li > a{
    color: black;
    padding: 15px 20px;
    font-size: 15px;
    position: relative;
}
.hd-list-items > li > a::after, .hd-list-items > li > a::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #7b5244;
    top: 0;
    left: 0;
}
.hd-list-items > li > a::after{
    width: 102%;
    height: 93%;
    border-width: 2px 0px;
    transition: transform 0.2s;
    transform: scale3d(0, 1, 1);
}
.hd-list-items > li > a:hover::after{
    transform: scale3d(1, 1, 1);
    transition-delay: 0.2s;
}
.hd-list-items > li > a::before{
    width: 99%;
    height: 103%;
    border-width: 0px 2px;
    transition: transform 0.2s;
    transform: scale3d(1, 0, 1);
}
.hd-list-items > li > a:hover::before{
    transform: scale3d(1, 1, 1);
}



.drop-item{
    position: relative;
}
.furn-drop{
    position: absolute;
    background-color: white;
    border: 2px solid #7b5244;
    width: 500px;
    height: 200px;
    top: 60px;
    padding: 20px;
    transform: scale(0);
    transition: transform 0.5s, visibility 0.5s, opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}
.drop-item:hover .furn-drop{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}
.furn-drop .drop-list{
    display: table-cell;
}
.drop-list li{
    padding-bottom: 15px;
    font-size: 14px;
    width: 150px;
}
.drop-list li a{
    color: black;
}
.drop-list li:first-child a{
    color: #7b5244;
    }
.drop-list li:first-child{
    position: relative;
    padding-bottom: 25px;
}
.drop-list li:first-child::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    background-color: #c7c7c7;
    bottom: 15px;
    left: 0px;
}


.drop-item .item-drop li{
    margin-bottom: 20px;
}
.drop-item .item-drop li a{
    color: black;
}

.drop-item .item-drop{
    position: absolute;
    background-color: white;
    border: 2px solid #7b5244;
    width: 200px;
    height: 150px;
    top: 60px;
    padding: 20px;
    text-align: left;
    
}
 /*.drop-item:hover .item-drop{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    transition: transform 0.5s, visibility 0.5s, opacity 0.5s;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}*/



.bag-items:last-child{
   font-size: 15px;   
}
.bag-items li{
    padding-left: 10px;
    transition: color 0.2s;
    display: inline-block;
}
.bag-items li:hover{
    color: #7b5244;
}
.bag-items li i{
    font-size: 25px;
    padding-left: 10px; 
}



section{
    margin-top: 100px;
}

.home-content img{
    width: 100%;
}