
body{
    margin: 0px;
    font-family: 'varela round','sans-serif' ;
}
.clear{
    clear: both;
}

.container-h{
    width: 77%;
    margin: auto;
    padding-bottom: 10px; 
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #fafafa;
    z-index: 5;
}
.logo{
    width: 20%;
    height: 40px;
    float: left;
}
.logo-img{
    width: 90px;
    padding: 5px;
    padding-left: 0px;
    }
.menu{
    list-style-type: none;
    width: 80%;
    float: left;
    margin: 0;
    padding: 0px;
    height: 40px;
}
.menu li a{
    display: block;
    color: black;
    text-align: center;
    padding: 20px 15px;
    font-size: 13px;
    text-decoration: none;
    float: right;
}
.menu li a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #7797e0;
    transition: width 0.5s;
}
.menu li a:hover:after{
    width: 100%;

}


.container{
    width: 76%;
    margin: auto;
}
.category{
    margin: 6px 0px 6px;
}
.comm li i, .tag1-items li i{
    color: #7995e5;
}
.comm li, .tag1-items li{
    display: inline-block;
    font-size: 12px;
    text-decoration: none; 
    padding-right: 10px; 
}
.pop-head, .cat-head, .mor-head, .tag-head, .comm1-head, .leave-head{
    margin: 33px 0px 20px;
    font-weight: bolder;
    font-size: 20px;
}
.pop-head::after, .cat-head::after, .tag-head::after, .comm1-head::after, .leave-head::after{
content: " ";
background-color: #7797e0;
height: 3px;
width: 35px;
display: block;
margin: 10px 0px;
}

.home{
    background-color: #fafafa;
    width: 100%;
    height: 150px;
    margin-top: 50px; 
}
.title{ 
    font-size: 35px;
    font-weight: bolder;
    display: inline-block;
    height: 150px;
    line-height: 150px;
}
.home-list{   
    list-style-type: none;
    height: 150px;
    line-height: 150px;
    margin: 0;
    float: right;
}
.home-list li{
    display: block;
    color: #7995e5;
    text-align: center;
    padding: 0px 5px;
    font-size: 14px;
    text-decoration: none;
    float: right;
}

.content{
    overflow: auto;
    margin: 100px 0px 50px;
}

.l-content{
    width: 74%;
    float: left;
}

.blog-img{
    width: 100%;
    transition: opacity 0.9s;
}
.blog-img:hover{
    opacity: 0.8;
}

.comm{
    list-style-type: none;
    width: 80%;
    padding: 0px;
    margin: 20px 0px;
}

.mor-head{
    margin: 20px 0px 10px;
    font-weight: bolder;
    font-size: 20px;    
}
.mor-item{
    color: gray;
    font-size: 14.5px;
    line-height: 23px;
}

.tag1-content{
 display: inline-block;
 margin-top: 25px;
 margin-bottom: 40px;
}
.tag1-head{
    font-weight: bold;
    font-size: 16px;
    float: left;
    padding: 5px 0px;
}
.tag1-items{
    float: left;
    margin: 0px;
    list-style-type: none;
    padding-left: 5px;
    padding-top: 2px;

}
.tag1-items li{
    padding:6.5px 7.5px; 
    background-color: #f0f0f0;
    transition: background-color 0.7s color 0.7s;
}
.tag1-items li:hover{
    color: white;
    background-color: #7797e0;
}
.tag1-items li:hover i{
    color: white;
}

.joe-content{
    position: relative;
    width: 96%;
    height: 140px;
    border: 2px solid #f0f0f0;
    padding: 15px;
    margin-bottom: 40px;
}
.joe-img{
    width: 140px;
    height: 140px;
    position: absolute;
    padding-right: 5px;
}
.joe-items{
    padding-left: 160px;
}
.joe-title{
    display: block;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    padding-right: 10px;
}
.joe-head{
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0px;
    display: inline-block;
}
.joe-list{
    float: right;
    margin: 0px;
    list-style-type: none;
    padding-left: 5px;
    padding-top: 2px;
}
.joe-list li{
    padding: 4px 6px; 
    background-color: #7995e5;
    display: inline-block;
    font-size: 14px;
    color: white;
    text-decoration: none; 
    border-radius: 3px;
}
.joe-list li:hover{
    opacity: 0.7;
}
.joe-items p{
    color: gray;
}

.comm1-5content{
    position: relative;
    width: 96%;
    height: 80px;
    border: 2px solid #f0f0f0;
    border-bottom: 0px;
    padding: 15px; 
}
.comm1-img{
    width: 70px;
    position: absolute;
}
.comm1-items{
    padding-left: 90px;
}
.comm1-title{
   padding-bottom: 10px
}
.comm1-shead{
    display: inline;
    margin: 33px 0px 20px;
    font-weight: bolder;
    font-size: 16px;
}
.comm1-time{
    display: inline;
    font-size: 11px;
    padding-left: 15px;
    color: gray;
}
.comm1-re{
    display: inline;
    float: right;
    font-size: 11px;
    color:  #7995e5;
}
.comm1-items p,.comm1-final-items p{
    margin: 0px;
    color: gray;
}
.comm1-coll-5content{
    position: relative;
    width: 96%;
    height: 310px;
    border: 2px solid #f0f0f0;
    border-bottom: 0px;
    padding: 15px;     
}
.comm1-first-5content{
    position: relative;
    width: 100%;
    height: 80px;
}
.comm1-blue-5content{
    position: relative;
    width: 96%;
    height: 80px;
    border: 2px solid #c9c7d2;
    padding: 15px;   
    background-color: #f5f5f7;                
}
.comm1-blue-5content .comm1-shead{
    color: #7995e5;
}
.comm1-last-5content{
    position: relative;
    width: 96%;
    height: 80px;
    border: 2px solid #f0f0f0;
    border-top: 0px;
    padding: 15px;    
}
.comm1-final-5content {
    position: relative;
    width: 96%;
    height: 80px;
    border: 2px solid #f0f0f0;
    padding: 15px;   
    margin-bottom: 40px;
}
.comm1-final-items{
    padding-left: 20px;
    padding-right: 5px;
}
.name{
    width: 49%;
    height: 35px;
    padding-left: 5px;
    background-color: #fafafa;
    border: none;
    margin-right: 1.4%;
}
.email{
    width: 49%;
    height: 35px;
    padding-left: 5px;
    background-color: #fafafa;
    border: none;
}
.add{
    width: 100%;
    height: 70px;
    padding-left: 5px;
    background-color: #fafafa;
    border: none;
    margin: 20px 0px;
    padding-top: 5px;
}
textarea::placeholder{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.submit{
    background-color: #7797e0;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 2px;
    margin-bottom: 70px;
}
.submit:hover{
    background-color: #5770ad;
}


.r-content{
    width: 23%;
    float: left;
    margin-left: 30px; 
}

.sear-content{
    text-align: center;
}
.search{
    background-image: url(../images/iconsearch.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
    height: 35px;
    padding-left: 10px;
    opacity: .9;
    background-color: #fafafa;
    border: none;
}

.f-cat-content{
    border-top: 2px solid #f0f0f0;
    padding-top: 5px;
}
.cat-content {
 border-bottom: 2px solid #f0f0f0;
 padding-bottom: 5px;
 margin: 8px 0px;
 font-size: 13px;
}
.cat-content:hover{
    color: #7797e0;
}
.cat-numb{
float: right;
color: #7797e0;
font-size: 13px;
}

.pop-head{
    margin-bottom: 27px;
}
.pop-content{
    position: relative;
    padding-left: 80px;
    margin-bottom: 50px;
    transition: opaciy 0.9s color 0.9s;
}
.pop-content:hover .pop-item{
    color: #7797e0;
}
.pop-content:hover .pop-img{
    opacity: 0.8;
}
.pop-img{
    width: 80px;
    height: 55px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.pop-item{
    font-size: 14px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.pop-numb{
    font-size: 10px;
    padding-left: 5px;
    margin-top: 8px;
    color: #7797e0 ;
}

.tag-content{
    display: inline-block;
}
.tag-head{
    margin-top: 0px;
}
.tag-item{
    background-color: #f0f0f0;
    padding: 7px;
    font-size: 11.5px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;  
    transition: background-color 0.7s color 0.7s;
}
.tag-item:hover{
    color: white;
    background-color: #7797e0;
}


.foot{
    background-color: #1c1d22;
    text-align: center;
    padding: 40px;
    font-size: 13px;
}
.f-logo{
    width: 130px;
    margin-top: 10px;
}
.foot-list{
    margin: 20px;
    list-style-type: none;
    padding: 0px;
}
.foot-list li{
    padding: 15px; 
    background-color: #6494fc;
    display: inline-block;
    color: white;
    text-decoration: none; 
    border-radius: 2px;
    margin: 3px;
}
.foot-list li:hover{
    opacity: 0.7;
}
.foot p{
    margin-top: 40px;
    color: gray;
}
.foot p span{
    color: #7995e5;
}
